html {
  scroll-behavior: smooth;
}

.section__container {
  min-height: 1000px;
  padding: 100px;
}

@media screen and (max-width: 768px) {
  .section__container {
      padding: 30px;
  }
  .section__title {
    font-size: 2em;
  }
}

.welcome__container, .navbar__nav {
  background-color: #5e3c58;
}

.bio__container, .contact__container {
  background-color: #c7bbc9;
}

.contact__container {
  height: 500px!important;
  min-height: 500px!important;
}

.portfolio__container {
  background-color: #e6d8e8;
}

.footer__container {
  background-color: #5e3c58;
  color: #c7bbc9;
  margin: auto;
}
.footer__footnote {
  margin:auto;
  text-align: center;
  padding: 10px 0;
}

.navbar__nav a {
  color: #c7bbc9;
  font-weight: bold;
}

.icon-bar {
  width: 35px;
  height: 5px;
  background-color: #c7bbc9;
  margin: 6px 0;
  transition: 0.4s;
}

.change .icon-bar {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.welcome__div {
  height: 100vh;
}

.welcome__box {
  position: relative;
  top: 30%;
  margin: auto;
  text-align: center;
  color: white;
}

.welcome__text {
  color: #c7bbc9!important;
  font-weight: bold!important;
  font-size: 1.5em!important;
}

.btn-primary {
  background-color: grey;
}

.section__titleBox {
  position: relative;
  margin: auto;
  padding: 30px 0px;
  height: 100px;
  width: 100%;
}

.section__title {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.bio__img {
  margin: 30px 0px;
}

.markdown__container, .drum__container, .pizza__container, .leghorn__container {
  position: relative;
  height: 225px!important;
  overflow: hidden;
  max-width: 350px!important;
  display: block;
  cursor: pointer;
  margin: auto;
}

@media screen and (min-width: 500px) {
  .markdown__container, .drum__container, .pizza__container, .leghorn__container {
    width: 350px!important;
  }
}

.markdown__img, .drum__img, .pizza__img, .leghorn__img {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.markdown__overlay, .drum__overlay, .pizza__overlay, .leghorn__overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
  font-weight: bold;
}

.markdown__container:hover .markdown__img {
  filter: blur(1px);
  opacity: 0.4;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
.markdown__container:hover .markdown__overlay {
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.drum__container:hover .drum__img {
  filter: blur(1px);
  opacity: 0.4;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
.drum__container:hover .drum__overlay {
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.pizza__container:hover .pizza__img {
  filter: blur(1px);
  opacity: 0.4;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
.pizza__container:hover .pizza__overlay {
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.leghorn__container:hover .leghorn__img {
  filter: blur(1px);
  opacity: 0.4;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
.leghorn__container:hover .leghorn__overlay {
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.contact__linkBox {
  display: flex;
  width: 400px;
  justify-content: space-around;
  height: 150px;
}

.contact__link {
  height: 64px;
  line-height: 61px; /* need to manually adjust line height to center img with fa icons */
}

.contact__img {
  height: 56px;
  border-radius: 3px;
}

.contact__logo:hover {
  filter: sepia(100%);
  filter: blur(1px);
}

.contact__img:hover {
  filter: sepia(100%);
  filter: blur(1px);
}

.contact__navBox {
  position: relative;
  top: 30%;
  margin: auto;
  text-align: center;
  color: white;
  margin-bottom: 100px;
}

.contact__navBtn {
  color: #c7bbc9!important;
  font-weight: bold!important;
  font-size: 1.5em!important;
}

.fa-facebook-square {
  color: rgb(41, 72, 125);
}

.fa-linkedin {
  color: #006097;
}

.fa-github-square {
  color: black;
}
