.about {
  .fp-next, .fp-prev {
    position: absolute;
    z-index: 100;
    top: 50vh;
    cursor: pointer;
    height: 50px;
    width: 50px;
    opacity: 0.5;
  }
  .fp-next {
    right: 0px;
  }
  .fp-prev {
    left: 0px;
  }
}

.portfolio {
  .fp-next, .fp-prev {
    position: absolute;
    z-index: 100;
    top: 50vh;
    cursor: pointer;
    height: 50px;
    width: 50px;
    opacity: 0.5;
  }
  .fp-next {
    right: 0px;
  }
  .fp-prev {
    left: 0px;
  }
}

@media screen and (max-width: 700px) {
  .fp-next, .fp-prev {opacity: 0.3!important}
}